.container-add h1{
    text-align: center;
    color: red;
    margin-top: 10px;
}


.wrap-input1000 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 15px;
    margin-right: -30px;
}
.form-add {
    display: flex;
    width: 100%;
    gap: 20px;

}
.btn-save{

}
.add-left{
    width: 50%;
}
.add-right{
    width: 50%;
}


