.container-update-restaurant-title{
    width: 100%;
    height: 20px;
    padding-top: 30px;
}
.container-update-restaurant-title h1{
    text-align: center;
}
.container-update-restaurant{
    width: 100%;
    height: 100vh;
    margin-left: 10px;
}
.update-restaurant-form{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}
.update-restaurant-left{
    width: 40%;
}
.left-update-restaurant-form{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}
.left-update-restaurant-form img{
    width: 5%;
    height: 5%;

}

.update-restaurant-right{
    width: 40%;

}

.update-restaurant-input{
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 80%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 10px;
    padding: 0 30px 0 68px
}
.update-restaurant-submit{
    width: 15%;
    margin: 0 auto;
}